<div class="main-content">
    <div class="container-fluid">
        <div class="row p-1">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Thông tin cá nhân</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="IOForm">
                            <div class="row">
                                <mat-form-field>
                                    <input formControlName="fullName" matInput placeholder="Họ và tên">
                                    
                                    <mat-error *ngIf="formErrors.fullName">{{formErrors.fullName}}</mat-error>
                                </mat-form-field>

                            </div>
                            <div class="row">
                                <mat-form-field>
                                    <input formControlName="email" matInput placeholder="Email address" type="email">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field>
                                    <input formControlName="sodienthoai" matInput placeholder="Số điện thoại">
                                
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field>
                                    <input formControlName="userName" matInput placeholder="Tên đăng nhập">
                                </mat-form-field>
                            </div>

                            <button mat-raised-button (click)="updateUserInfo()" type="submit"
                                class="btn btn-danger pull-right">Cập nhật</button>
                            <button mat-raised-button (click)="openChangePassword()"
                                class="btn btn-danger pull-right m-3">Đổi mật khẩu</button>
                        </form>
                    </div>
                </div>
                <div class="card mt-2" *ngIf="isChangePassword">
                    <div class="card-body">
                        <form [formGroup]="passwordForm">
                            <div class="row">
                                <mat-form-field>
                                    <input type="password" formControlName="oldPassword" matInput
                                        placeholder="Mật khẩu cũ">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field>
                                    <input type="password" formControlName="newPassword" matInput
                                        placeholder="Mật khẩu mới">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field>
                                    <input type="password" formControlName="retypePassword" matInput
                                        placeholder="Nhập lại mật khẩu mới">
                                    <mat-hint class="error" *ngIf="ischeckPassword == false">Nhập lại mật khẩu không chính xác!</mat-hint>
                                </mat-form-field>
                                
                            </div>
                            <button mat-raised-button (click)="updatePassword()" class="btn btn-danger mt-2">Thay đổi</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <mat-card class="profile-card">
                    <mat-card-header>
                        <mat-card-title>{{currentUser.fullName}}</mat-card-title>
                        <mat-card-subtitle>{{roleLabel?.roleLabel}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
</div>