.login-title {
    color: rgb(12 20 255);
}

.login-container {
    background-image: url("../../../assets/bg2.jpg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}