<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginIOForm" fxFlex="35%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-progress-bar color="warn" mode="query" *ngIf="progressBarService.visibility | async"></mat-progress-bar>
        <mat-card>
            <mat-card-title class="text-center login-title">Hệ thống quản lý công việc</mat-card-title>
            <mat-card-title class="text-center login-title"> Trung tâm Phát triển quỹ đất Thanh Hóa</mat-card-title>

            <mat-card-content>

                <mat-form-field class="full-width">
                    <input matInput type="text" class="form-control" name="username" placeholder="Tài khoản" formControlName="userName">
                    <span *ngIf="formErrors.userName" class="alert-danger">{{
                        formErrors.userName
                      }}</span>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="password" class="form-control" name="password" placeholder="Mật khẩu" formControlName="passWord">
                    <span *ngIf="formErrors.passWord" class="alert-danger">{{
                        formErrors.passWord
                      }}</span>
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" [disabled]="loginIOForm.invalid "
                    (click)="loginAdmin()">Đăng nhập</button>
                <!-- <button mat-button id="resetPassword" (click)="resetPassword()" type="button">Reset Password</button> -->
            </mat-card-actions>

        </mat-card>

        <!-- <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar> -->
    </form>
</div>