<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h3>Danh sách thành viên</h3>
                <div fxLayout fxLayoutAlign="end start">
                    <mat-form-field fxFlex="25%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
                    </mat-form-field>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>


                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                        <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
                    </ng-container>


                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và Tên </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>


                    <ng-container matColumnDef="sodienthoai">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                        <td mat-cell *matCellDef="let element"> {{element.sodienthoai}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vai trò </th>
                        <td mat-cell *matCellDef="let element"> {{ element.role  | GetValueByKeyPipe: 'roleName' : 'roleLabel' : listRole}} </td>
                    </ng-container>
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hành động </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox *ngIf="(listIdAccount.indexOf(row.id) === -1)" (change)="checkboxchangeAdd($event, row)">
                            </mat-checkbox>
                            <mat-checkbox *ngIf="((listIdAccount.indexOf(row.id) !== -1 ) &&  row.id !== dataModel.idLeader)" checked="true" (change)="checkboxchangeRemove($event, row)">
                            </mat-checkbox>
                            <mat-checkbox *ngIf="row.id === dataModel.idLeader" disabled checked="true" (change)="checkboxchangeRemove($event, row)">
                            </mat-checkbox>
                        </td>



                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>
        <div class="pt-4">
            <button class="btn btn-primary btn-sm" (click)="addMember()">Lưu danh sách</button>
            <button class="btn btn-danger btn-sm" style="float: right;" (click)="closeMatDialog()">Đóng</button>
        </div>
    </div>
</div>