<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h5>Gia hạn công việc</h5>

<mat-divider></mat-divider>
<div class="pt-3">
    <form [formGroup]="IOForm" class="pt-toolbar">
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Ngày hết hạn:</label>
            <div class="col-sm-8">
                <div class="input-group">

                    <input class="form-control" formControlName="dueDate" placeholder="Ngày hết hạn"
                        [matDatepicker]="picker"
                        [disabled]="RoleConstants.NHOMROLENHANVIEN.includes(this.currentUser.role)">

                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                </div>
                <span *ngIf="formErrors.dueDate" class="alert-danger">{{formErrors.dueDate}}</span>
                <span *ngIf="!checkIssueDueDate" class="alert-danger">Ngày hoàn thành công việc không được lớn hơn ngày
                    hoàn thành nhiệm vụ!</span>
            </div>
        </div>
        <div class="form-group row mx-0 pt-3 ">
            <div class="col-12">
                <button class="btn btn-sm btn-primary" (click)="onSubmit(purpose)" style="float: right;">
                    <i class="far fa-save"></i>
                    Lưu & Đóng
                </button>
                <button class="btn btn-sm btn-danger mr-3" (click)="closeIOSidebar()">
                    <i class="far fa-times-circle"></i> Hủy bỏ
                </button>
            </div>
        </div>
    </form>
</div>