<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h5>Chi tiết công việc</h5>

<mat-divider></mat-divider>
<div class="container">

    <div class="row">
        <div class="col-lg-8">
                <div class="">
                    <div class="col-md-12 p-2">
                        <strong>Tên công việc: </strong><span> {{dataModel.title}}</span>
                    </div>
                    <div class="col-md-12 p-2" *ngIf="dataModel.idType == 1">
                        <strong>Dự án :</strong><span> {{dataModel.idProject | GetNameByIdPipe: 'name':
                            listProject}}</span>
                    </div>
                    <div class="col-md-12 p-2" *ngIf="dataModel.idType == 0">
                        <strong>Nhiệm vụ :</strong><span> {{dataModel.idProject | GetNameByIdPipe: 'name':
                            listProject}}</span>
                    </div>
                    <div class="col-md-12 p-2" *ngIf="dataModel.idType == 0">
                        <strong>Mô tả : </strong>{{dataModel.description}}
                    </div>
                    <div class="col-md-12 p-2" *ngIf="dataModel.idType == 0">
                        <strong>Đường dẫn : </strong><a [href]="dataModel.url" target="_blank">{{dataModel.url}}  </a>
                    </div>
                    <div class="col-md-12 p-2" *ngIf="dataModel.idType == 0 && dataModel.fileUrl">
                        <strong>Tệp đính kèm : </strong><a [href]="fileUrlPath" target="_blank">{{fileUrlPath}}  </a>
                    </div>
                    <div class="col-md-12 p-2" *ngIf="dataModel.idType == 0 && !dataModel.fileUrl">
                        <strong>Tệp đính kèm : </strong><a target="_blank">{{fileUrlPath}}  </a>
                    </div>
                    <div class="col-md-12 p-2">
                        <mat-selection-list #child>
                            <strong>Công việc thành phần:</strong>
                            <mat-list-item *ngFor="let item of listSubTask">
                                <mat-icon mat-list-icon color="primary">
                                    task
                                </mat-icon>
                                <p mat-line> {{item.title}} </p>
                            </mat-list-item>

                        </mat-selection-list>
                    </div>
                    <div class="col-md-12 row p-2">
                        <strong>Bình luận/Ghi chú/ Kiến nghị:</strong>
                        <mat-form-field appearance="fill" class="col-12">
                            <textarea matInput [(ngModel)]="comment"></textarea>
                        </mat-form-field>
                        <button class="col-2" mat-stroked-button mat-button color="primary" style="margin-left: 11px;"
                            (click)="postComment()" [disabled]="!comment || viewonly == true"> Gửi </button>
                    </div>
                    <div class="col-md-12 row p-2">
                        <mat-list role="list" class="detail-content">
                            <mat-list-item *ngFor="let item of listComment">
                                <p mat-line><strong>{{item.userActionId| GetNameByIdPipe: 'fullName':
                                        listAccount}}:</strong> {{item.note}} ({{item.createdAt| date:"dd/MM/yyyy"}})
                                </p>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <mat-divider style="margin-top: 10px;"></mat-divider>
                <div class="col-md-12 row p-2">
                    <strong>Hoạt động:</strong>
                    <mat-list role="list" class="detail-content">
                        <mat-list-item *ngFor="let item of listAction">
                            <p mat-line><strong>{{item.createdAt| date:"dd/MM/yyyy hh:mm:ss a"}}: {{item.userActionId|
                                    GetNameByIdPipe:
                                    'fullName': listAccount}}</strong> {{item.action | GetValueByKeyPipe: 'value' :
                                'key' :
                                listSettingAction}}
                                <strong *ngIf="item.action == 2">{{item.oldValue | GetValueByKeyPipe: 'value' : 'key' :
                                    listMucdo}} -> {{item.newValue | GetValueByKeyPipe: 'value' : 'key' :
                                    listMucdo}}</strong>
                                <strong *ngIf="item.action == 3">{{item.oldValue | GetValueByKeyPipe: 'value' : 'key' :
                                    listTrangthai}} -> {{item.newValue | GetValueByKeyPipe: 'value' : 'key' :
                                    listTrangthai}}</strong>
                                <strong *ngIf="item.action == 4">{{item.oldValue | GetValueByKeyPipe: 'value' : 'key' :
                                    listChatluong}}-> {{item.newValue | GetValueByKeyPipe: 'value' : 'key' :
                                    listChatluong}}</strong>
                                <strong *ngIf="item.action == 5">{{item.oldValue | GetValueByKeyPipe: 'value' : 'key' :
                                    listTiendo}}-> {{item.newValue | GetValueByKeyPipe: 'value' : 'key' :
                                    listTiendo}}</strong>
                            </p>

                            <p mat-line style="background-color: rgb(242, 243, 236);"><strong>Nội dung:</strong>
                                {{item.note}}</p>
                        </mat-list-item>
                    </mat-list>
                </div>
        </div>
        <div class="col-lg-4">
            <div class="container-fluid">
                <div class="col-md-12 p-2">
                    <strong>Người phụ trách: </strong>
                    <a>{{dataModel.assignId | GetNameByIdPipe: 'fullName': listAccount}}</a>
                </div>
                <div class="col-md-12 p-2">
                    <strong>Trạng thái: </strong>
                    <button mat-stroked-button mat-button color="primary" [matMenuTriggerFor]="menu" [disabled]="viewonly == true || checkCoop(dataModel)">
                        {{trangthai |
                        GetValueByKeyPipe: 'value' : 'key' : listTrangthai}}</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let element of listTrangthai"
                            (click)="ChangeTrangthai(element)">{{element.key}}</button>
                    </mat-menu>
                </div>
                <div class="col-md-12 p-2">
                    <strong>Mức độ: </strong>
                    <button mat-stroked-button mat-button color="warn" [matMenuTriggerFor]="menu2" [disabled]="viewonly == true">{{mucdo |
                        GetValueByKeyPipe: 'value' : 'key' : listMucdo}}</button>
                    <mat-menu #menu2="matMenu">
                        <button mat-menu-item *ngFor="let element of listMucdo"
                            (click)="changeMucdo(element)">{{element.key}}</button>
                    </mat-menu>
                </div>
                <div class="col-md-12 p-2">
                    <strong>Thời gian bắt đầu: </strong>
                    <a>{{dataModel.startedDate | date:"dd/MM/yyyy"}}</a>
                </div>
                <div class="col-md-12 p-2">
                    <strong>Thời gian kết thúc: </strong>
                    <a>{{dataModel.dueDate | date:"dd/MM/yyyy"}}</a>
                </div>
                <div class="col-md-12 p-2">
                    <strong>Danh sách người phối hợp: </strong>
                    <mat-selection-list>
                        <mat-list-item *ngFor="let item of dataModel.coopId">
                            <mat-icon mat-list-icon color="primary">
                                face
                            </mat-icon>
                            <p mat-line> {{item | GetNameByIdPipe: 'fullName': listAccount}} </p>
                        </mat-list-item>
                    </mat-selection-list>
                </div>
                <mat-divider></mat-divider>

                <div class="col-md-12 p-2">
                    <strong>Chất lượng/Hiệu quả: </strong>
                    <button mat-stroked-button mat-button color="primary" [matMenuTriggerFor]="menuChatluong"
                    [disabled]="viewonly == true || RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)" *ngIf="chatluong != 0 && !chatluong " >--Chọn--</button>

                    <button mat-stroked-button mat-button color="primary" [matMenuTriggerFor]="menuChatluong" *ngIf="chatluong == 0 || chatluong"
                        [disabled]="viewonly == true || RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)">{{chatluong |
                        GetValueByKeyPipe: 'value' : 'key' : listChatluong}}</button>
                    <mat-menu #menuChatluong="matMenu">
                        <button mat-menu-item *ngFor="let element of listChatluong"
                            (click)="rateChatluong(element.value)">{{element.key}}</button>
                    </mat-menu>
                </div>

                <div class="col-md-12 p-2">
                    <strong>Tiến độ: </strong>
                    <button mat-stroked-button mat-button color="warn" *ngIf="tiendo != 0 && !tiendo " [matMenuTriggerFor]="menuTiendo"
                    [disabled]="viewonly == true || RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)">--Chọn--</button>

                    <button mat-stroked-button mat-button color="warn" *ngIf="tiendo == 0 || tiendo"
                        [matMenuTriggerFor]="menuTiendo" [disabled]="viewonly == true || RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)">{{tiendo
                        |
                        GetValueByKeyPipe: 'value' : 'key' : listTiendo}}</button>

                    <mat-menu #menuTiendo="matMenu">
                        <button mat-menu-item *ngFor="let element of listTiendo"
                            (click)="rateTiendo(element.value)">{{element.key}}</button>
                    </mat-menu>
                </div>

                <div class="col-md-12 p-2">
                    <strong>Chấp hành chế độ thông tin báo cáo: </strong>
                    <button mat-stroked-button mat-button color="primary" [matMenuTriggerFor]="menuTTBC" *ngIf="chaphanh_ttbc!= false && !chaphanh_ttbc"
                    [disabled]="viewonly == true || RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)">--Chọn--</button>
                    <button mat-stroked-button mat-button color="primary" [matMenuTriggerFor]="menuTTBC" *ngIf="chaphanh_ttbc== false || chaphanh_ttbc"
                        [disabled]="viewonly == true || RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)">{{chaphanh_ttbc |
                        GetValueByKeyPipe: 'value' : 'key' : listChaphanhSetting}}</button>
                    <mat-menu #menuTTBC="matMenu">
                        <button mat-menu-item *ngFor="let element of listChaphanhSetting"
                            (click)="rateChaphanhTTBC(element.value)">{{element.key}}</button>
                    </mat-menu>
                </div>

                <div class="col-md-12 p-2">
                    <strong>Chấp hành điều động làm thêm giờ: </strong>
                    <button mat-stroked-button mat-button color="warn" [matMenuTriggerFor]="menuOT" *ngIf="chaphanh_ot!= false && !chaphanh_ot"
                    [disabled]="viewonly == true || RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)">--Chọn--</button>

                    <button mat-stroked-button mat-button color="warn" [matMenuTriggerFor]="menuOT" *ngIf="chaphanh_ot== false || chaphanh_ot"
                        [disabled]="viewonly == true || RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)">{{chaphanh_ot |
                        GetValueByKeyPipe: 'value' : 'key' : listChaphanhSetting}}</button>
                    <mat-menu #menuOT="matMenu">
                        <button mat-menu-item *ngFor="let element of listChaphanhSetting"
                            (click)="rateChaphanhOT(element.value)">{{element.key}}</button>
                    </mat-menu>
                </div>
                <mat-divider></mat-divider>
                <div class="col-md-12 p-2">
                    <strong>Xác nhận công việc: </strong>
                    <button (click)="confirm(true)" *ngIf="!dataModel.isConfirm" mat-stroked-button mat-button 
                        color="warn" [disabled]="viewonly == true || RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)" > Xác nhận</button>
                    <button *ngIf="dataModel.isConfirm" mat-stroked-button mat-button color="warn" disabled> Đã xác
                        nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>