<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h5 *ngIf="!purpose">Thêm mới thành viên</h5>
<h5 *ngIf="purpose">Sửa thông tin thành viên</h5>
<div class="pt-3">
    <form [formGroup]="IOForm" class="pt-toolbar">
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Họ và Tên:</label>
            <div class="col-sm-8">
                <input class="form-control" formControlName="fullName" placeholder="Họ và Tên" />
                <span *ngIf="formErrors.fullName" class="alert-danger">{{formErrors.fullName}}</span>
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Email:</label>
            <div class="col-sm-8">
                <input class="form-control" formControlName="email" placeholder="Email" />
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Số điện thoại:</label>
            <div class="col-sm-8">
                <input class="form-control" formControlName="sodienthoai" placeholder="Số điện thoại" />
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Vai trò:</label>
            <div class="col-sm-8">
                <mat-select placeholder="Chọn vai trò" class="form-control" formControlName="role">
                    <mat-option value="">
                        ---Chọn vai trò---
                    </mat-option>
                    <mat-option *ngFor="let role of listRole" [value]="role.roleName">
                        {{ role.roleLabel }}
                    </mat-option>
                </mat-select>
                <span *ngIf="formErrors.role" class="alert-danger">{{formErrors.role}}</span>

            </div>
        </div>
        <div class="form-group row mx-0 p-1" *ngIf="purpose">
            <label class="col-sm-4 col-form-label text-left">Tên đăng nhập:</label>
            <div class="col-sm-8">
                <input disabled class="form-control" formControlName="userName" placeholder="Tên đăng nhập" />
                <span *ngIf="formErrors.userName" class="alert-danger">{{formErrors.userName}}</span>

            </div>
        </div>
        <div class="form-group row mx-0 p-1" *ngIf="!purpose">
            <label class="col-sm-4 col-form-label text-left">Tên đăng nhập:</label>
            <div class="col-sm-8">
                <input class="form-control" formControlName="userName" placeholder="Tên đăng nhập" />
                <span *ngIf="formErrors.userName" class="alert-danger">{{formErrors.userName}}</span>

            </div>
        </div>
        <div class="form-group row mx-0 p-1" *ngIf="!purpose">
            <label class="col-sm-4 col-form-label text-left">Mật khẩu:</label>
            <div class="col-sm-8">
                <input class="form-control" formControlName="password" placeholder="Mật khẩu" />
                <span *ngIf="formErrors.password" class="alert-danger">{{formErrors.password}}</span>

            </div>
        </div>
        <div class="form-group row mx-0 pt-3 ">
            <div class="col-12">
                <button class="btn btn-sm btn-primary" (click)="onSubmit(purpose)" style="float: right;">
                    <i class="far fa-save"></i>
                    Lưu & Đóng
                </button>
                <button class="btn btn-sm btn-danger mr-3" (click)="closeIOSidebar()">
                    <i class="far fa-times-circle"></i> Hủy bỏ
                </button>
            </div>
        </div>
    </form>
</div>