<div class="row" *ngIf="openNote">
    <div class="col-md-12 p-2" *ngIf="dataModel.isLate">
        <strong>Nguyên nhân chậm tiến độ: </strong>
        <button mat-stroked-button mat-button color="warn"
            [matMenuTriggerFor]="menuTiendo" >{{reason |
            GetValueByKeyPipe: 'value' : 'key' : listReasonLate}}</button>
        <mat-menu #menuTiendo="matMenu">
            <button mat-menu-item *ngFor="let element of listReasonLate"
                (click)="chooseReason(element.value)">{{element.key}}</button>
        </mat-menu>
    </div>
    <strong>Ghi chú:</strong>
    <mat-form-field appearance="fill" class="col-12" >
        <textarea matInput [(ngModel)]='note'></textarea>
    </mat-form-field>

</div>
<div *ngIf="!openNote">
    <p><strong>Bạn có chắc chắn muốn thay đổi thông tin ?</strong></p>
</div>
<div>
    <button mat-stroked-button mat-button color="warn" style="float:right" (click)="closeDialog()"> Hủy </button>
    <button mat-stroked-button mat-button color="primary" style="float:left" (click)="submit()"> Lưu thay đổi </button>
</div>
