<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h2>Icons</h2>

                <iframe src="https://design.google.com/icons/">
                    <p>Your browser does not support iframes.</p>
                </iframe>

            </mat-card-content>
        </mat-card>

    </div>
</div>