<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>

            <mat-card-content>
                <div>
                    <h5 *ngIf="project.type === 1">Dự án [ <span style="color: red;">{{project.name }}</span> ] </h5>
                    <h5 *ngIf="project.type === 0">Nhiệm vụ [ <span style="color: red;">{{project.name }}</span>]  </h5>
                </div>

                <mat-tab-group>
                    <mat-tab label="Thông tin dự án/nhiệm vụ">
                        <div class="row mx-0">
                            <div class="row mx-0">
                                <label class="col-6 col-form-label text-right" *ngIf="project.type === 1">Tên dự án:</label>
                                <label class="col-6 col-form-label text-right" *ngIf="project.type === 0">Tên nhiệm vụ:</label>
                                <label class="col-6 col-form-label"><strong>{{project.name}}</strong></label>
                            </div>
                            <div class="row mx-0">
                                <label class="col-6 col-form-label text-right">Thời gian bắt đầu:</label>
                                <label class="col-6 col-form-label"><strong>{{project.start | date:"dd/MM/yyyy"}}</strong></label>
                            </div>
                            <div class="row mx-0">
                                <label class="col-6 col-form-label text-right">Thời gian kết thúc:</label>
                                <label class="col-6 col-form-label"><strong>{{project.end | date:"dd/MM/yyyy"}}</strong></label>
                            </div>
                            <div class="row mx-0">
                                <label class="col-6 col-form-label text-right">Người phụ trách:</label>
                                <label class="col-6 col-form-label"><strong>{{project.idLeader | GetNameByIdPipe: 'fullName': listAccount}}</strong></label>
                            </div>
                            <div class="row mx-0">
                                <label class="col-6 col-form-label text-right">Phòng ban/nhóm phụ trách:</label>
                                <label class="col-6 col-form-label"><strong>{{project.idTeam | GetNameByIdPipe: 'name': listTeam}}</strong></label>
                            </div>
                            <div class="row mx-0">
                                <label class="col-6 col-form-label text-right">Hoạt động:</label>
                                <label class="col-6 col-form-label"><p *ngFor="let item of listAction">
                                    <strong>{{item.createdAt| date:"dd/MM/yyyy"}}: {{item.userActionId| GetNameByIdPipe:'fullName': listAccount}}</strong>
                                    {{item.note}}</p></label>
                            </div>
                        </div>

                    </mat-tab>

                    <!-- Danh sách công việc -->
                    <mat-tab label="Danh sách công việc">
                        <div class="pt-2">
                            <button mat-stroked-button mat-button color="primary" style="float:left"
                                (click)="addTask()"> Tạo công việc </button>
                            <div fxLayout fxLayoutAlign="end start">
                                <!-- <mat-form-field fxFlex="15%">
                                    <mat-label>Chọn trạng thái</mat-label>
                                    <mat-select matInput placeholder="Lọc theo trạng thái" [(ngModel)]="trangthai">
                                        <mat-option value="">Tất cả</mat-option>
                                        <mat-option *ngFor="let status of listTrangthai" [value]="status.value">
                                            {{ status.key }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <mat-form-field fxFlex="15%" >
                                    <mat-label>Ngày tạo từ</mat-label>
                                    <input matInput [matDatepicker]="picker" [(ngModel)]="timeFrom">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field fxFlex="15%">
                                    <mat-label>Ngày tạo đến</mat-label>
                                    <input matInput [matDatepicker]="picker2" [(ngModel)]="timeTo">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                                <button mat-stroked-button mat-button color="warn"
                                    style="margin-top: 5px; margin-right: 20px; margin-left: 5px;" (click)="filter()">
                                    Lọc
                                </button>
                                <mat-form-field fxFlex="25%">
                                    <input matInput type="text" (keyup)="doFilter($event.target.value)"
                                        placeholder="Tìm kiếm">
                                </mat-form-field>
                            </div>
                            <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="stt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="{'parent-task': element.parentId === null}"> {{element.stt}} </td>
                                </ng-container>


                                <ng-container matColumnDef="title">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên công việc </th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="{'parent-task': element.parentId === null}" style="cursor: pointer;" (click)="view(element)"> {{element.title}} </td>
                                </ng-container>


                                <ng-container matColumnDef="due_date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian hết hạn </th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="{'parent-task': element.parentId === null}"> {{element.dueDate|
                                        date:"dd/MM/yyyy"}} </td>
                                </ng-container>

                                <ng-container matColumnDef="reporter_id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Người giao việc </th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="{'parent-task': element.parentId === null}"> {{element.reporterId |
                                        GetNameByIdPipe: 'fullName': listAccount}} </td>
                                </ng-container>

                                <ng-container matColumnDef="assign_id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Người phụ trách </th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="{'parent-task': element.parentId === null}"> {{element.assignId |
                                        GetNameByIdPipe: 'fullName': listAccount}} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái</th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="{'parent-task': element.parentId === null}"> {{element.status |
                                        GetValueByKeyPipe: 'value' : 'key' : listTrangthai }} </td>
                                </ng-container>
                                <ng-container matColumnDef="confirm_date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày hoàn thành </th>
                                    <td mat-cell *matCellDef="let element" [ngClass]="{'parent-task': element.parentId === null}">
                                        {{element.confirmDate| date:"dd/MM/yyyy"}} </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Hành động </th>
                                    <td mat-cell *matCellDef="let element">

                                        <button color="primary" mat-icon-button [disabled]="(element.isRisingwork != true && RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)) || checkEditButton(element)"
                                         (click)="editTeam(element)">
                                            <mat-icon class="mat-18">edit</mat-icon>
                                        </button>
                                        <button color="primary" mat-icon-button (click)="view(element)"
                                            title="Chi tiết công việc">
                                            <mat-icon class="mat-18">info</mat-icon>
                                        </button>
                                        <button color="warn" mat-icon-button (click)="deleteTeam(element)" [disabled]="checkDeleteButton(element)"> 
                                            <mat-icon class="mat-18">delete</mat-icon>
                                        </button>
                                        <button color="primary" mat-icon-button (click)="addSubTask(element)"
                                            title="Thêm công việc con" *ngIf="element.parentId === null">
                                            <mat-icon class="mat-18">note_add</mat-icon>
                                        </button>

                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[100]"></mat-paginator>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>