<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h5>Danh sách vai trò</h5>
                
                <button mat-stroked-button mat-button color="primary" style="float:left;" (click)="showPopup()" disabled> Thêm vai trò </button>
                <div fxLayout fxLayoutAlign="end start">
                    <mat-form-field fxFlex="25%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
                    </mat-form-field>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>


                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                        <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
                    </ng-container>


                    <ng-container matColumnDef="roleLabel">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên vai trò </th>
                        <td mat-cell *matCellDef="let element"> {{element.roleLabel}} </td>
                    </ng-container>


                    <ng-container matColumnDef="roleName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã vai trò </th>
                        <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Hành động </th>
                        <td mat-cell *matCellDef="let element">

                            <button color="primary" mat-icon-button (click)="editRole(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                            </button>
                            <button disabled color="primary" mat-icon-button (click)="editRole(element)">
                                <mat-icon class="mat-18">list_alt</mat-icon>
                            </button>
                            <button disabled color="warn" mat-icon-button (click)="deleteRole(element.id)">
                                <mat-icon class="mat-18">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>

    </div>
</div>