<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h5 *ngIf="type == 1"> Danh sách công việc dự án </h5>
                <h5 *ngIf="type == 0"> Danh sách công việc chuyên môn </h5>
                <button mat-stroked-button mat-button color="primary" color="primary" style="float:left"
                    (click)="addTask()"> Tạo công việc </button>


                <div fxLayout fxLayoutAlign="end start">

                    <mat-form-field fxFlex="15%">
                        <mat-select matInput [(ngModel)]="isRisingWork" [disabled]="trangthai == -3">
                            <mat-option value="">Tất cả</mat-option>
                            <mat-option value="true">Công việc phát sinh</mat-option>
                            <mat-option value="false">Công việc được giao</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-label>Ngày tạo từ</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="timeFrom">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-label>Ngày tạo đến</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="timeTo">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <button mat-stroked-button mat-button color="warn"
                        style="margin-top: 5px; margin-right: 20px; margin-left: 5px;" (click)="filter()">
                        Lọc
                    </button>
                    <mat-form-field fxFlex="25%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
                    </mat-form-field>

                    <button class="mat-table-export-button" mat-raised-button
                        (click)="exporter.exportTable('xlsx', {fileName:'danh-sach-cong-viec'})">Xuất Excel</button>
                </div>
                <button *ngIf="listTeam" mat-stroked-button mat-button [ngClass]="{'selected-team': selectedTeam == ''}"
                    style="margin-top: 5px; margin-right: 50px; margin-bottom: 15px;" (click)="filterbyTeam('')">

                    <span class="stretch-badge" matBadge={{countAllIssue}} matBadgeOverlap="false"
                        matBadgeColor="warn">Tất cả công việc</span>
                </button>
                <button *ngFor="let team of listTeam" mat-stroked-button mat-button
                    [ngClass]="{'selected-team': team.id == selectedTeam}"
                    style="margin-top: 5px; margin-right: 50px; margin-bottom: 15px;" (click)="filterbyTeam(team.id)">
                    <span class="stretch-badge" *ngIf="this.counts && this.counts[team.id]"
                        matBadge={{this.counts[team.id]}} matBadgeOverlap="false"
                        matBadgeColor="warn">{{team.name}}</span>
                    <span *ngIf="!this.counts || !this.counts[team.id]" matBadge=0 matBadgeOverlap="false"
                        matBadgeColor="warn">{{team.name}}</span>
                </button>

                <br>

                <table mat-table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter"
                    [hiddenColumns]="[7]" matSort>
                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'parent-task': element.parentId === null, 'coop-task': checkCoop(element),  'qua-han':(trangthai=='4' || trangthai=='6'|| checkOutDateTask(element)),'rising-task': element.isRisingwork == true}">
                            {{element.stt}} </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên công việc </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'parent-task': element.parentId === null, 'coop-task': checkCoop(element), 'qua-han':(trangthai=='4' || trangthai=='6' || checkOutDateTask(element)),'rising-task': element.isRisingwork == true}"
                            style="cursor: pointer;" (click)="view(element)">
                            {{element.title}} </td>
                    </ng-container>

                    <ng-container matColumnDef="idProject">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhiệm vụ </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'parent-task': element.parentId === null, 'coop-task': checkCoop(element),  'qua-han':(trangthai=='4' || trangthai=='6'|| checkOutDateTask(element)),'rising-task': element.isRisingwork == true}">
                            {{element.idProject | GetNameByIdPipe: 'name': listProject}} </td>
                    </ng-container>

                    <ng-container matColumnDef="due_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian hết hạn </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'parent-task': element.parentId === null, 'coop-task': checkCoop(element),  'qua-han':(trangthai=='4' || trangthai=='6'|| checkOutDateTask(element)),'rising-task': element.isRisingwork == true}">
                            {{element.dueDate| date:"dd/MM/yyyy"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="confirm_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày hoàn thành </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'parent-task': element.parentId === null, 'coop-task': checkCoop(element),  'qua-han':(trangthai=='4' || trangthai=='6'|| checkOutDateTask(element)),'rising-task': element.isRisingwork == true}">
                            {{element.confirmDate| date:"dd/MM/yyyy"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="reporter_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Người giao việc </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'parent-task': element.parentId === null, 'coop-task': checkCoop(element),  'qua-han':(trangthai=='4' || trangthai=='6'|| checkOutDateTask(element)),'rising-task': element.isRisingwork == true}">
                            {{element.reporterId | GetNameByIdPipe: 'fullName': listAccount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="assign_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Người thực hiện </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'parent-task': element.parentId === null, 'coop-task': checkCoop(element),  'qua-han':(trangthai=='4' || trangthai=='6'|| checkOutDateTask(element)),'rising-task': element.isRisingwork == true}">
                            {{element.assignId | GetNameByIdPipe: 'fullName': listAccount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="num_extend">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lần gia hạn </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="{'parent-task': element.parentId === null, 'coop-task': checkCoop(element),  'qua-han':(trangthai=='4' || trangthai=='6'|| checkOutDateTask(element)),'rising-task': element.isRisingwork == true}">
                            {{element.numExtend}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Hành động </th>
                        <td mat-cell *matCellDef="let element">

                            <button color="primary" mat-icon-button (click)="editTeam(element)"
                                [disabled]="(element.isRisingwork != true && RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)) || checkEditButton(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                            </button>
                            <button color="primary" mat-icon-button (click)="expandDueDate(element)"
                                [disabled]="(element.isRisingwork != true && RoleConstants.NHOMROLENHANVIEN.includes(currentUser.role)) || checkEditButton(element)">
                                <mat-icon class="mat-18">access_time</mat-icon>
                            </button>
                            <button color="primary" mat-icon-button (click)="view(element)" title="Xem chi tiết">
                                <mat-icon class="mat-18">info</mat-icon>
                            </button>
                            <button color="warn" mat-icon-button (click)="deleteTeam(element)"
                                [disabled]="checkDeleteButton(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                            </button>
                            <button color="primary" mat-icon-button (click)="addSubTask(element)"
                                title="Thêm công việc con" *ngIf="element.parentId === null">
                                <mat-icon class="mat-18">note_add</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSize]="50" [pageSizeOptions]="[10,50,1000]" [length]="countPagingData">
                </mat-paginator>

            </mat-card-content>
        </mat-card>

    </div>
</div>