<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        Hệ thống quản lý công việc
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{user.fullName}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]="['/admin/profile']">
        <mat-icon>person</mat-icon>
        <span>Thông tin người dùng</span>
      </a>

      <a mat-menu-item (click)="logoutAdmin()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>

    </mat-menu>

  </mat-toolbar>
  <mat-progress-bar color="warn" mode="query" *ngIf="progressBarService.visibility | async"></mat-progress-bar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <a mat-list-item [routerLink]="['/admin/dashboard']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>
          <p mat-line> Bảng điều khiển </p>
        </a>

        <mat-expansion-panel mat-list-item [class.mat-elevation-z0]="true" dense [hidden]="!checkRole">

          <mat-expansion-panel-header class="multi-menu-header">
            <mat-icon mat-list-icon class="menu-icon">
              admin_panel_settings
            </mat-icon>
            Quản trị
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item [routerLink]="['/admin/quantri/member']" routerLinkActive="active">
              <mat-icon class="menu-icon">groups</mat-icon>Danh sách thành viên
            </a>
            <a mat-list-item [routerLink]="['/admin/quantri/teams']" routerLinkActive="active">
              <mat-icon class="menu-icon">people_outline</mat-icon>Phòng ban/Nhóm
            </a>
            <a mat-list-item [routerLink]="['/admin/quantri/role']" routerLinkActive="active">
              <mat-icon class="menu-icon">psychology</mat-icon>Vai trò
            </a>
            <a mat-list-item [routerLink]="['/admin/quantri/linhvuc']" routerLinkActive="active">
              <mat-icon class="menu-icon">view_list</mat-icon>Lĩnh vực
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <!-- Nhiệm vụ chuyên môn -->
        <mat-expansion-panel mat-list-item [class.mat-elevation-z0]="true" dense>

          <mat-expansion-panel-header class="multi-menu-header">
            <mat-icon mat-list-icon class="menu-icon">
              receipt_long
            </mat-icon>
            Nhiệm vụ chuyên môn
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item [routerLink]="['/admin/nvchuyenmon/1']" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:
              true}">
              <mat-icon class="menu-icon">run_circle</mat-icon>Đang thực hiện
            </a>
            <a mat-list-item [routerLink]="['/admin/nvchuyenmon/2']" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact:
              true}">
              <mat-icon class="menu-icon">library_add_check</mat-icon>Đã hoàn thành
            </a>
            <a>
              <mat-expansion-panel mat-list-item [class.mat-elevation-z0]="true" dense [hidden]="!RoleConstants.NHOMONLYGIAMDOC.includes(this.user.role)">

                <mat-expansion-panel-header class="multi-menu-header">
                  <mat-icon mat-list-icon class="menu-icon">
                    spatial_audio_off
                  </mat-icon>
                  Đang phụ trách
                </mat-expansion-panel-header>
                <mat-nav-list dense>
                  <a mat-list-item [routerLink]="['/admin/nvchuyenmon/1', {type: 0}]" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:
                    true}">
                    <mat-icon class="menu-icon">run_circle</mat-icon>Đang thực hiện
                  </a>
                  <a mat-list-item [routerLink]="['/admin/nvchuyenmon/2', {type: 0}]" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:
                    true}">
                    <mat-icon class="menu-icon">library_add_check</mat-icon>Đã hoàn thành
                  </a>


                </mat-nav-list>
              </mat-expansion-panel>
            </a>

          </mat-nav-list>
        </mat-expansion-panel>


        <mat-expansion-panel mat-list-item [class.mat-elevation-z0]="true" dense>

          <mat-expansion-panel-header class="multi-menu-header" [routerLink]="['/admin/issue-chuyenmon', {type: 0}]"
            routerLinkActive="active">
            <mat-icon mat-list-icon class="menu-icon">
              assignment_ind
            </mat-icon>
            Công việc chuyên môn
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item [routerLink]="['/admin/issue/1', {type: 0, status: 1}]" routerLinkActive="active-link">
              <mat-icon class="menu-icon">playlist_add_check</mat-icon>Hoàn thành đã đánh giá
            </a>
            <a mat-list-item [routerLink]="['/admin/issue/1', {type: 0, status: 2}]" routerLinkActive="active-link">
              <mat-icon class="menu-icon">done_all</mat-icon>Hoàn thành chưa đánh giá
            </a>

            <mat-expansion-panel mat-list-item [class.mat-elevation-z0]="true" dense>

              <mat-expansion-panel-header class="multi-menu-header" >
                <mat-icon mat-list-icon class="menu-icon">
                  hourglass_empty
                </mat-icon>
                <span
                matBadge={{countQuahanChuahoanthanh?.countChuahoanthanh}} matBadgeOverlap="false"
                matBadgeColor="warn">Cần xử lý</span>
              </mat-expansion-panel-header>
              <mat-nav-list dense>
                <a mat-list-item [routerLink]="['/admin/issue/1', {type: 0, status: 3}]" routerLinkActive="active-link">
                  Trong hạn xử lý
                </a>
                <a mat-list-item [routerLink]="['/admin/issue/1', {type: 0, status: 31}]" routerLinkActive="active-link">
                  Qúa hạn xử lý
                </a>
              </mat-nav-list>
            </mat-expansion-panel>



            <a mat-list-item [routerLink]="['/admin/issue/1', {type: 0, status: 4}]" routerLinkActive="active-link">
              <mat-icon class="menu-icon">alarm_off</mat-icon><span matBadge={{countQuahanChuahoanthanh?.countQuaHan}}
                matBadgeOverlap="false" matBadgeColor="warn">Quá hạn</span>
            </a>
            <a mat-list-item [routerLink]="['/admin/issue/1', {type: 0, status: 5}]" routerLinkActive="active-link">
              <mat-icon class="menu-icon">assignment_returned</mat-icon>Đã giao
            </a>
            <a mat-list-item [routerLink]="['/admin/issue/1', {type: 0, status: 6}]" routerLinkActive="active-link">
              <mat-icon class="menu-icon">schedule_send</mat-icon>Hoàn thành quá hạn
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <!-- Báo cáo -->
        <mat-expansion-panel mat-list-item [class.mat-elevation-z0]="true" dense>

          <mat-expansion-panel-header class="multi-menu-header">
            <mat-icon mat-list-icon class="menu-icon">
              summarize
            </mat-icon>
            Báo cáo
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item [routerLink]="['/admin/baocao/canhan']" routerLinkActive="active">
              <mat-icon class="menu-icon">portrait</mat-icon>Báo cáo cá nhân
            </a>
            <a mat-list-item [routerLink]="['/admin/baocao/nhiemvu', {type: 0}]" routerLinkActive="active"
              [hidden]="RoleConstants.NHOMROLENHANVIEN.includes(this.user.role)">
              <mat-icon class="menu-icon">summarize</mat-icon>Báo cáo nhiệm vụ
            </a>
            <a mat-list-item [routerLink]="['/admin/baocao/team']" routerLinkActive="active">
              <mat-icon class="menu-icon">sticky_note_2</mat-icon>Báo cáo phòng ban/nhóm
            </a>
            <a mat-list-item [routerLink]="['/admin/baocao/congviec']" routerLinkActive="active"
              [hidden]="RoleConstants.NHOMROLENHANVIEN.includes(this.user.role)">
              <mat-icon class="menu-icon">ballot</mat-icon>Báo cáo công việc
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">

      </div>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>