<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h5>Danh sách nhiệm vụ chuyên môn</h5>
                <button mat-stroked-button mat-button color="primary" style="float:left;" (click)="add()"> Tạo nhiệm vụ
                    chuyên môn </button>
                <div fxLayout fxLayoutAlign="end start">
                    <mat-form-field fxFlex="35%">
                        <mat-select placeholder="Ban giám đốc" [(ngModel)]= "selectedBangiamdoc" (selectionChange)="filterBGD()">
                            <mat-option value="">
                                Tất cả
                            </mat-option>
                            <mat-option *ngFor="let account of listGiamdoc " [value]="account.id">
                                {{ account.fullName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="25%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
                    </mat-form-field>
                </div>
                <button [hidden]="!checkRole" *ngFor="let team of listTeam" mat-stroked-button mat-button
                    [ngClass]="{'selected-team': team.id == selectedTeam}"
                    style="margin-top: 5px; margin-right: 20px; margin-bottom: 10px;" (click)="filter(team.id)">
                    {{team.name}}
                </button>
                <br>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'miss-info-project': element.idTeam === null || element.idTeam == ''}"> {{element.stt}} </td>
                    </ng-container>
                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phòng ban/nhóm </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'miss-info-project': element.idTeam === null || element.idTeam == ''}"> {{element.idTeam | GetNameByIdPipe: 'name': listTeam}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="linhvuc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lĩnh vực </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'miss-info-project': element.idTeam === null || element.idTeam == ''}"> {{element.idLinhvuc | GetNameByIdPipe: 'name':
                            listCategory}} </td>
                    </ng-container>
                    <ng-container matColumnDef="leader">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Người phụ trách </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'miss-info-project': element.idTeam === null || element.idTeam == ''}"> {{element.idLeader | GetNameByIdPipe: 'fullName':
                            listAccount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên nhiệm vụ </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'miss-info-project': element.idTeam === null || element.idTeam == ''}"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="start">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian bắt đầu </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'miss-info-project': element.idTeam === null || element.idTeam == ''}"> {{element.start| date:"dd/MM/yyyy"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="end">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian kết thúc </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'miss-info-project': element.idTeam === null || element.idTeam == ''}"> {{element.end | date:"dd/MM/yyyy"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Hành động </th>
                        <td mat-cell *matCellDef="let element">

                            <button color="primary" mat-icon-button (click)="edit(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                            </button>
                            <button color="primary" mat-icon-button (click)="addTask(element)">
                                <mat-icon class="mat-18">list_alt</mat-icon>
                            </button>
                            <button color="warn" mat-icon-button (click)="delete(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>

    </div>
</div>