<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h5>Danh sách phòng ban/nhóm</h5>
                <button mat-stroked-button mat-button color="primary" style="float:left;" (click)="showPopup()"> Thêm phòng ban/nhóm </button>
                <div fxLayout fxLayoutAlign="end start">
                    <mat-form-field fxFlex="25%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Tìm kiếm">
                    </mat-form-field>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>


                    <ng-container matColumnDef="stt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                        <td mat-cell *matCellDef="let element"> {{element.stt}} </td>
                    </ng-container>


                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên phòng ban/nhóm </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>


                    <!-- <ng-container matColumnDef="project_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên dự án </th>
                        <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
                    </ng-container> -->

                    <ng-container matColumnDef="id_leader">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trưởng phòng ban/nhóm </th>
                        <td mat-cell *matCellDef="let element"> {{element.idLeader | GetNameByIdPipe: 'fullName': listAccount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Hành động </th>
                        <td mat-cell *matCellDef="let element">

                            <button color="primary" mat-icon-button (click)="editTeam(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                            </button>
                            <button  color="primary" mat-icon-button (click)="addMember(element)">
                                <mat-icon class="mat-18">list_alt</mat-icon>
                            </button>
                            <button color="warn" mat-icon-button (click)="deleteTeam(element)">
                                <mat-icon class="mat-18">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>

    </div>
</div>