<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%">

        <mat-card>
            <mat-card-content>
                <h5 >Báo cáo công việc</h5>
                <div fxLayout fxLayoutAlign="start end">
                    <mat-form-field fxFlex="25%">
                        <mat-label>Chọn đơn vị</mat-label>
                        <mat-select matInput [(ngModel)]="team">
                            <mat-option value = "" *ngIf="RoleConstants.NHOMROLEGIAMDOC.includes(this.currentUser.role) || this.currentUser.role == RoleConstants.PHUTRACHTONGHOP">
                                TOÀN BỘ TRUNG TÂM
                            </mat-option>
                            <mat-option *ngFor="let teamm of listTeam" [value]="teamm.id">
                                {{ teamm.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-label>Từ ngày</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="timeFrom">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-label>Đến ngày</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="timeTo">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <button mat-stroked-button mat-button color="warn"
                        style="margin-bottom: 16px; margin-right: 20px; margin-left: 5px;" (click)="report()">
                        Xem báo cáo
                    </button>
                </div>
                <button class="mat-table-export-button m-2" style="float: right;" mat-stroked-button (click)="ExportTOExcel()">
                    Xuất Excel
                  </button>
                <div #TABLE >
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column display none-->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.nocontent}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3">STT</th>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3"> PHÒNG BAN - NỘI DUNG CÔNG VIỆC </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'parent-task': (element.typeHeader === 'team' || element.typeHeader === 'category'), 'project-header': (element.typeHeader === 'project')}">
                            {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="thoi-gian-hoan-thanh">
                        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3"> Thời gian hoàn thành </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.dueDate | date:"dd/MM/yyyy"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ghi-chu">
                        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3"> Ghi chú </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nocontent}} </td>
                    </ng-container>
                    <ng-container matColumnDef="hoan-thanh">
                        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3"> Hoàn thành </th>
                        <td mat-cell *matCellDef="let element">
                            <p *ngIf="element.isConfirm == true">X</p>
                    </ng-container>
                    <ng-container matColumnDef="danh-gia">
                        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="3"> Đánh giá của BGĐ </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nocontent}} </td>
                    </ng-container>

                    <!-- Kết quả thực hiện -->
                    <ng-container matColumnDef="li-do">
                        <th mat-header-cell *matHeaderCellDef> Lí do </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nocontent}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="gia-han">
                        <th mat-header-cell *matHeaderCellDef> Gia hạn </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nocontent}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="kq-gia-han">
                        <th mat-header-cell *matHeaderCellDef> KQ gia hạn</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nocontent}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ket-qua-thuc-hien-group">
                        <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Kết quả thực hiện </th>
                    </ng-container>
                    <ng-container matColumnDef="nguyen-nhan-group">
                        <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Nguyên nhân chưa hoàn thành </th>
                    </ng-container>
                  

                    <tr mat-header-row
                        *matHeaderRowDef="['No', 'name','thoi-gian-hoan-thanh', 'ghi-chu', 'hoan-thanh', 'ket-qua-thuc-hien-group', 'danh-gia']">
                    </tr>

                    <tr mat-header-row
                        *matHeaderRowDef="['nguyen-nhan-group']">
                    </tr>
                    <tr mat-header-row
                        *matHeaderRowDef="['li-do', 'gia-han', 'kq-gia-han']">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>